@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #0f172a;
  --text: #ffffff;
}
.light {
  --bg: #f9fafb;
  --text: #1f2937;
}
html, body {
  background-color: var(--bg);
  color: var(--text);
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  touch-action: none;
}